
/* Main */

main {
    width: 100%;
    height: fit-content;
    /* margin-top: 8vh; */
  /*  background-image:
        linear-gradient(rgba(239, 243, 240, 0.3),
            rgba(255, 255, 255, 0)), url(../images/EM4A7121.JPG); */
  /*  background-image: url(../images/EM4A7121.JPG); */
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 70% 100%;
    background-position-x: right;
    background-position-y: top;
    justify-content: center;
    align-items: center;
    z-index: 2;
  /*  padding-bottom: 10vh; */
}


.main-intro {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-image: url(../images/landscape/img1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-position-x: right;
    background-position-y: top;
    justify-content: center;
    align-items: center;
 
}


.main-intro h1 {
    font-size: 14vh;
    line-height: 1;
    color: rgb(255, 255, 255);
    font-family: Monsit;
    text-transform: none;
    font-weight: 25px;
    /* backdrop-filter: blur(5px); */
    position: top;
    font-family: mons;
    border: #fff 2px solid;
    border-radius: 7px;
    padding: 5vh;
    background-color:rgba(0, 0, 0, 0.2);
}

.around {
    width: 100vw;
    height: fit-content;
    border-top: #000000 1px solid;
    padding: 10vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* Gallery menu */
#gallery {
    width: 90vw;
    height: fit-content;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border: #000000 1px solid;
    padding: 10vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 1)),url(../images/pexels-hngstrm-1939485.jpg);

}

.menu-box {
    width: 80vw;
    height: 20vh;
    border: #000000 1px solid;
    margin: 10px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: white;
}

.menu-box img:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: all ease-in-out 100ms;
}


.menu-box h2 {
    font-size: 7vh;
    padding: 13vh;
}

.menu-box img {
    width: 50vW;
    height: 20vh;
    object-fit:cover;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
}


/* Category */

/* #category {
    width: 90%;
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 5vh;
    border-radius: 10px;
    margin: 5vw 0 0 5vw; 
}

    

#b1 {
    grid-area: b1;
}

#b2 {
    grid-area: b2;
}

#b3 {
    grid-area: b3;
}

#b4 {
    grid-area: b4;
}

#b5 {
    grid-area: b5;
}

#b6 {
    grid-area: b6;
}



.category-box {
    width: 30%;
    height: 40vh;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: #000000 1px solid;
    display: flex;
}

.category-box:nth-child(1) {
    background-image: url(../images/gallery/thumbs/img2.jpg);
}

.category-box:nth-child(2) {
    background-image: url(../images/gallery/thumbs/img6.jpg);
}

.category-box:nth-child(3) {
    background-image: url(../images/gallery/thumbs/img10.jpg);
}

.category-box:nth-child(4) {
    background-image: url(../images/gallery/thumbs/img23.jpg);
}

.category-box:nth-child(5) {
    background-image: url(../images/gallery/thumbs/img19.jpg);
}

.category-box:nth-child(6) {
    background-image: url(../images/gallery/thumbs/img21.jpg);
}

.dark-overlay {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 1;
    transition: all ease-in-out 300ms;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.category-box:hover .dark-overlay {
    opacity: 0;
}


.dark-overlay h3 {
    font-size: 5vh;
    line-height: 1.5;
    text-shadow: 0rem 0.4rem 0rem #000000;
    z-index: 10;
    align-self: center;
    font-family: Mons;
} */



/* Latest photo */

.slider-box {
    background: inherit;
    height: fit-content;
    margin: 0;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 15vh;
    padding-top: 8vh;
}

.slider {
    position: relative;
    display: flex;
    width: 100%;
    height: 45vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.item {
    position: absolute;
    width: 35vw;
    height: 40vh;
    background-color: #fff;
    border-radius: 10px;
    transition: 0.5s;
    top: 5vh;
}


.item:nth-child(1) {
    background-image: url(../images/gallery/thumbs/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.item:nth-child(2) {
    background-image: url(../images/gallery/thumbs/img6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.item:nth-child(3) {
    background-image: url(../images/gallery/thumbs/img10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.item:nth-child(4) {
    background-image: url(../images/gallery/thumbs/img19.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.item:nth-child(5) {
    background-image: url(../images/gallery/thumbs/img21.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#next,
#prev {
    position: absolute;
    color: #000000;
    background-color: transparent;
    border: none;
    font-size: 10vh;
    left: 50px;
    top: 20vh;
    z-index: 101;
    cursor: pointer;
}

#next {
    left: unset;
    right: 50px;
}

#next:hover {
    color: rgb(98, 98, 98);
}

#prev:hover {
    color: rgb(98, 98, 98);
}

#latest {
    width: 90%;
    display: flex;
    text-align: left;
    margin-top: 5vh;
    font-size: 8vh;
    border-bottom: #000000 solid 2px;
    padding-bottom: 5vh;
    padding-left: 5vw;
}


/* Mobile version */

@media only screen and (max-width: 1200px) {

/* Main */

main {
    background-image: none;
}

.main-intro {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40%;
    align-items: center;
    text-align: center;
}


.main-intro h1 {
    font-size: 10vh;
    line-height: 1;
    backdrop-filter: none;
    padding: 7vh 0;
    margin: 0;
}

/* Category */

.category-box {
    width: 40vw;
    height: 20vh;
}

.category-box h3 {
    font-size: 2.5vh;
}



/* Latest photo */

.slider-box{
    height: 35vh;
}

.slider {
    height: 40vh;
}

.item {
    width: 45vw;
    height: 25vh;
    top: 5vh;
}

#prev {
    display: none;
}

#next {
    display: none;
}

#latest {
    border-bottom: none;
    font-size: 5vh;
    padding-bottom: 5vh;
}

}


@media only screen and (max-width: 600px) {

    main {
        background-image: none;
        padding-bottom: 3vh;
    }

/* Category */


.category-box {
    width: 75vw;
    height: 25vh;
    border-radius: 15px;
}

.category-box h3 {
    font-size: 2.5vh;
}



/* Latest photo */

.slider-box{
    height: 25vh;
}

.slider {
    height: 40vh;
}

.item {
    width: 55vw;
    height: 20vh;
    top: 5vh;
}

#prev {
    display: none;
}

#next {
    display: none;
}

#latest {
    padding-bottom: 7vh;
}


}