@font-face {
    font-family: Handwriting;
    src: url(../font/SCRIPTIN.ttf); 

    font-family: Mons;
        src: url(../font/Montserrat-Light.ttf);

    font-family: Monsit;
        src: url(../font/Montserrat-ExtraLightItalic.ttf);
    
}


body {
    background-color: white;
}

/* Main */

main {
    width: 100%;
    height: 90vh;
    background:
    linear-gradient(rgba(239, 243, 240, 0.5),
    rgba(255, 255, 255, 1)),url(../images/back_mac_3.jpg) no-repeat; 
    background-size: 70%;
    background-position: 95% 50%;
    background-position-x: right;
    background-position-y: top;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background-repeat:repeat-y;
    justify-content: space-between;
}


main h2 {
    font-size: 22vh;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.912);
    font-family: Monsit;
    font-weight: normal;
    position: relative;
    align-self: flex-start;
    margin-top: 18vh;
    margin-left: 10vw;
    left: 0;

}

/*glass efect */
.title {
    width: 27vw;
    height: 30vh;
    background: inherit; 
    display: flex; 
    justify-content: center;
    align-items: center;
    position: relative;
    background-attachment: fixed;
    overflow: hidden;
    z-index: 1;
    border-radius: 5px;
    align-self: flex-start;
    margin-left: 17vw;
    margin-bottom: 7vh;
    border: solid 1px var(--site-color-01);
}

.title p {
    color: black;
    font-size: 2.5vh;
}


.title::after {
    content: '';
    position: absolute;
    top: -10px;
    bottom: -10px;
    right: -10px;
    left: -10px;
    background: inherit;
    box-shadow: inset 0 0 2000px var(--site-color-01, 0.5);
    filter: blur(7px);
    z-index: -1;
}



#index-gallery {
    background-color: white;
    padding-bottom: 20vh;
    padding-top: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* x*fraction */
    grid-template-rows: auto;
    gap: 5vh;
  
}


/* styling pro všechny obrázky */
#index-gallery .gallery-img {
    width: auto;
    height: 32vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border-radius: 5px;
    -webkit-filter: grayscale(100%); 
   filter: grayscale(0%);

}

/* hover 
.gallery-img div {
    width: 100%;
    height: 100%;
    background-color: rgba(206, 239, 208, 0.3);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
#index-gallery .gallery-img:hover {
    opacity: 1;
    transition: all ease-in-out 100ms;
    -webkit-filter: grayscale(0%); 
   filter: grayscale(0%);
}

/* obrázky */
#index-gallery h1 {
    color: black;
    grid-area: gallery-h1;
    text-align: center;
    padding-bottom: 44px;
}

#index-gallery .img1 {
    grid-area: img1;
    background-image: url(../images/macro/thumbs/img1.jpg);
}

#index-gallery .img2 {
    grid-area: img2;
    background-image: url("../images/macro/thumbs/img2.jpg");
}

#index-gallery .img3 {
    grid-area: img3;
    background-image: url("../images/macro/thumbs/img3.jpg");
}

#index-gallery .img4 {
    grid-area: img4;
    background-image: url("../images/macro/thumbs/img4.jpg");
}

#index-gallery .img5 {
    grid-area: img5;
    background-image: url("../images/macro/thumbs/img5.jpg");
}

#index-gallery .img6 {
    grid-area: img6;
    background-image: url("../images/macro/thumbs/img6.jpg");
}

#index-gallery .img7 {
    grid-area: img7;
    background-image: url("../images/macro/thumbs/img7.jpg");
}

#index-gallery .img8 {
    grid-area: img8;
    background-image: url("../images/macro/thumbs/img8.jpg");
}

#index-gallery .img9 {
    grid-area: img9;
    background-image: url("../images/macro/thumbs/img9.jpg");
}

#index-gallery .img10 {
    grid-area: img10;
    background-image: url("../images/macro/thumbs/img10.jpg");
}

#index-gallery .img11 {
    grid-area: img11;
    background-image: url("../images/macro/thumbs/img11.jpg");
}

#index-gallery .img12 {
    grid-area: img12;
    background-image: url("../images/macro/thumbs/img12.jpg");
}





/* popup window */
.img-window {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1); 
    /* 0,0,0 - code for black, 0.8 - transparency */ 
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2500;
}

.img-window img {
    max-height: 80vh;
    max-width: 80vw;
}

/* Next Img Btn */
.img-btn-next {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 48vh;
    right: 5px;
    z-index: 2600;
    cursor: pointer;
}

.img-btn-next:hover {
    opacity: 0.7;
    transition: all ease-in-out 100ms;
}

.img-btn-prev {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 48vh;
    left: 5px;
    z-index: 2600;
    cursor: pointer;
}

.img-btn-prev:hover {
    opacity: 0.7;
    transition: all ease-in-out 100ms;
}


.img-btn-close {
    width: 47px;
    height: 47px;
    position: fixed;
    top: 8px;
    right: 8px;
    z-index: 2600;
    cursor: pointer;
}

.img-btn-close:hover {
    opacity: 0.7;
    transition: all ease-in-out 100ms;
}

/* Mobile version */

@media only screen and (max-width: 1200px) {

    main {
        width: 100vw;
        height: 50vh;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    /*glass efect */
.title {
    width: 80vw;
    height: 30vh;
    padding-bottom: 10vh;
    background: inherit; 
    display: flex; 
    justify-content: center;
    align-items: center;
    position: relative;
    background-attachment: fixed;
    overflow: hidden;
    z-index: 1;
    border-radius: 5px;
}

    
    
    main h2 {
        font-size: 15vh;
    }
    
    #index-gallery {
        padding-top: 4vh;
        padding-bottom: 5vh;
        grid-template-columns: 1fr 1fr;
        gap: 5px 5px;
        grid-template-areas: 
        "gallery-h1 gallery-h1"
        "img1 img2"
        "img3 img4"
        "img5 img6" 
        "img7 img8"
        "img9 img10" 
        "img11 img12";
    }
     
    #index-gallery .gallery-img {
        height: 30vh;
        cursor:auto;
    }

    .gallery-img div:hover {
        display: none;
    }

    .img-btn-next {
        width: 30px;
        height: 30px;
    }
    
    .img-btn-prev {
        width: 30px;
        height: 30px;
    }

    .img-btn-close {
        width: 30px;
        height: 30px;
    }

}


@media only screen and (max-width: 600px) {
    #index-gallery {
        padding-top: 4vh;
        padding-bottom: 5vh;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "gallery-h1"
        "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6" 
        "img7"
        "img8"
        "img9"
        "img10" 
        "img11"
        "img12";
    }

    #index-gallery .gallery-img {
        width: 100%;
        height: 40vh;
    }
}


