/* Basic settings */ 

  /*  
    - em - defaultní/zadaná hodnota v nadřazeném útvaru
    - default font size = 16px (font-size: 200%) = 32px = 2em 
    - rem - defaultní hodnota zadaná pro html = root
    */


    @font-face {
   
        font-family: Mons;
        src: url(../font/Montserrat-Light.ttf);

    }
    
    
    :root {
        --site-color-01: rgb(246, 255, 247);
        --site-color-02: rgb(222, 135, 72);
        font-size: 62.5%; /* 62,5% z 16px = 10px */
        
    }
    
    body {
        background-color: rgb(255, 255, 255);
        overflow-x: hidden;
        align-content: center;
        align-items: center;
        justify-content: center;
        font-family: Mons;
    }
    
    body:after {
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        z-index: -1;
        content: url(../logo/instagram-color.png);
        
    }
    
    .wrapper-main {
        margin: 0 5vw;
        width: 80vw;
    }

    .wrapper-template {
        margin: 0 5vw;
    }

    .wrapper-gallery {
        margin: 0;
    }
      
    
    h1 {
        font-size: 2.6rem; /* 26px */
        line-height: 1.5;
        color: rgb(0, 0, 0);  
        text-transform: uppercase;
    }
    
    h2 {
        font-size: 2.2rem;
        line-height: 1.5;
        color: rgb(0, 0, 0);
    }
    
    h3 {
        font-size: 2.6rem;
        line-height: 1.5;
        color: rgb(255, 255, 255);
        font-family: Lora;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    p {
        font-size: 1.4rem;
        line-height: 1.75;
        color: #ffffff;
    }
    
    a {
        font-size: 1.4rem;
        line-height: 1.75;
        color: #ffffff;
        cursor: pointer;
    }





/* Header */

.header-main {
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    z-index: 1000; 
  /*  border-bottom: solid 1px rgb(167, 167, 167); */
}

/* Logo */

.header-main-logo {
    width: fit-content;
    height: 100%;
    display: flex;
    padding-left: 50px;
    align-items: center;

}

.header-main-logo img {
    height: 45px;
    /* zarovná */
    display: block;
    /* na střed */
}

.header-main-logo h2 {
    font-family: Lora;
    padding-left: 20px;
}

/* Navbar */

.header-main-nav {
    width: fit-content;
    height: 100%;

}

.header-main-nav ul li {
    display: inline;
    float: left;
    /* naplácne prvky na sebe a líp se s nimi pracuje */
    position: relative;
    /* dropdown se přesune ke kategorii, ke které patří */
    height: 100%;
    align-self: center;

}

.header-main-nav ul {
    /* bez reset css je nutné list-style: none, aby list nevytvářel odrážky */
    margin: 0 50px;
}

.header-main-nav ul li a {
    color: #000;
    padding: 0 90px;
    /* na rozdíl od použití margin nechá a odkaz v celé šířce */
    line-height: 60px;
    /* jako navbar, dá doprostřed */
    display: block;
    /* z textu se udělá block prvek a hover efect bude po celé
            šířce panelu, ne jen v oblasti textu */
    height: 100%;
    /* šířka nav baru */
    margin: 0 50px;
    font-size: 20px;
    font-weight: bold;

}

.header-main-nav ul li a:hover {
    color: var(--site-color-02);
}

/* Dropdown */

.header-main-nav ul li ul {
    visibility: hidden;
    opacity: 0;
    display: none;
    position: absolute;
    left: -80px;
    top: 58px;
    transition: all ea 100ms;
    background-color: #353535;
    border-top: 1px solid white;
    border-radius: 0px 0px 4px 4px;
}



.header-main-nav ul li ul li {
    border-top: 1px solid white;
    width: 100%;
}


.header-main-nav ul li ul a {
    white-space: nowrap;
    /* položky v dropdownu se přizpůsobí šířce vlastního textu
            a ne kategorie, pod kterou patří */
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    height: fit-content;
}

/* zobrazení menu - udělá opak toho, co je v .header-main-nav ul li ul */
.header-main-nav ul li:hover>ul {
    visibility: visible;
    opacity: 1;
    display: block;
}

/* Social media */

.header-main-social {
    width: fit-content;
    padding-right: 50px;
    display: flex;
    align-items: center;
}

.header-main-social-ig {
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(../logo/instagram.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-main-social-ig:hover {
    background-image: url(../logo/instagram_g.png);
}




/* Footer */

.footer-main {
    width: 100%;
    padding: 3rem 0 3rem;
    background-color: #313131;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

.footer-main p {
    color: #ffffff;
    font-size: 1.4rem;
}

.footer-sitemap {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3vh;
    border-bottom: 1px solid #fff;
    margin: 0 7vw;
}

.footer-sitemap a {
    line-height: 2.5;
    font-size: 1.4rem;
}

.footer-sitemap a:hover {
    color: var(--site-color-02) ;
}


.footer-sitemap ul:nth-child(2) {
    border-left: white 0.15rem solid;
    padding-left: 2rem;
}



.main-f a {
        
    font-weight: bold;
}


.burger-menu,
.burger-menu-btn {
    display: none;

}

.footer-main-social {
    padding-top: 3vh;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0 8vw;
}

.footer-main-social-ig {
    width: 40px;
    height: 40px;
    background-image: url(../logo/instagram_w.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-main-social-ig:hover {
    background-image: url(../logo/instagram_g.png);

}

/* Mobile version */

@media only screen and (max-width: 1200px) {

    .burger-menu-btn {
        display: block;
        margin-left: 10px;
        width: 2rem;
        height: 2rem;
        background-image: url(../logo/menu-burger.png), url(../logo/cross.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center, center left 3rem;
        /* schová druhý obrázek mimo záběr */
    }

    .burger-menu {
        display: none;
        position: fixed;
        width: 100%;
        height: fit-content;
        z-index: 900;
        background-color: #111;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .burger-menu ul {
        width: 100%;
        height: 100vh;
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .burger-menu ul li {
        flex-basis: 100%;
        border-top: 2px solid #000;
        position: relative;
        /* height: fit-content; */
        /*height: calc(100% / var(--menu-count)); */
        /* přizpůsobí podle počtu položek v menu */
    }

    .burger-menu ul li:last-child {
        border-bottom: 2px solid #000;
        margin-bottom: 60px;

    }

    .burger-menu ul li a {
        width: 100%;
        display: block;
        height: fit-content;
        font-size: 3rem;
        padding: 25px 0;
        flex-basis: 100%;
        text-align: center;
    }


    .burger-menu ul li a:hover {
        background-color: transparent;
        color: #ffffff;
    }

    /* Dropdown */

    .burger-menu ul li ul {
        display: none;
        visibility: hidden;
        flex-wrap: nowrap;
        flex-direction: column;
        opacity: 0;
        position: absolute;
        left: 0;
        background-color: #353535;
        top: 45px;
        height: fit-content;
        z-index: 2000;
    }

    .burger-menu ul li ul li {
        width: 100%;
        height: fit-content;
        display: block;
    }

    .burger-menu ul li ul li a {
        white-space: nowrap;
        text-transform: uppercase;
        color: #fff;
        text-align: center;

    }

    .burger-menu ul li:focus>ul,
    .burger-menu ul li:hover>ul {
        visibility: visible;
        opacity: 1;
        display: block;
    }



    .wrapper-main {
        width: 80%;
    }

    /* Header */

    .header-main {
        height: 50px;
    }

    .header-main-logo {
        padding-left: 20px;

    }

    .header-main-nav {
        display: none;
    }

    .header-main-social {
        padding-right: 20px;
    }

    
    .header-main-social-ig {
       display: none;
    }


    /* Footer */

    .footer-sitemap {
        display: none;
    }

    .footer-main-social {
        padding-top: 0;
    }
    
    .footer-main-social-ig {
        width: 30px;
        height: 30px;
    }


}

